GEMINI_API_KEY=your_api_key_here
QDRANT_DB_PATH=your_local_path_if_any
QDRANT_URL=your_qdrant_cloud_url_here
QDRANT_API_KEY=your_qdrant_cloud_api_key_here
HF_TOKEN=your_huggingface_token_here

# Số lượng tài liệu trả về cho Gemini (3 giúp giảm 50% context)
RAG_TOP_K=3
